<h1>Welcome</h1>

<% if logged_in? %>

    <h1> You are Logged In, <%= current_user.name %>.</h1>
    <p> You can now browse events, sign up for upcoming events, and create your own events!.</p>
<% else %>

    <%= link_to "Login", '/login', method: :get %>
    <%= link_to "Sign Up", '/users/new', method: :get %>
<% end %>