<p id="notice"><%= notice %></p>

<h1>User List</h1>

<table>
  <thead>
    <tr>
      <th align=left>User Name</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <% unless user == User.find_by(name:"admin") %>
        <td><%= link_to user.name, user %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

