<p id="notice"><%= notice %></p>
<section class="box">
  <table class="table is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th align=left>User Name</th>
        <th align=left> Scheduled Events</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <% unless user == User.find_by(name:"admin") %>
          <td><%= link_to user.name, user %></td>
          <td><%="Hosting #{user.hosting.count} Upcoming Event(s)"%></td>
            <%if current_user == User.find_by(name:"admin")%>
              <td> 
                <%= link_to 'Edit', edit_user_path(user)%>
              </td> 
            <% end %>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>