<h3> What is Digital Meetup?</h3>

<p>Digital Meetup is an app that trys to mimic the experince of going to the movies, going drinking with your friends, and more. All from the comfort of your own home.<br> you can host all types of events and have meet abunch of new people. </p>

